fastapi==0.115.0  # For building the API
uvicorn==0.30.6   # Server to run FastAPI
sqlmodel==0.0.22  # Easy way to define database models and queries (combines SQLAlchemy + Pydantic)
python-dotenv==1.0.1
bcrypt==4.2.1
python-multipart==0.0.9  # For handling form data in APIs
pyjwt
